<div class="header">
    <h1>
        Welcome To Extortion
    </h1>
        <p>
            <ul class="ul-header-links">
                <li class="li-header-links">
                    <a href="{{SERVER_URL}}/">Main</a>
                </li>
                <li class="li-header-links">
                    {{#if admin}}
                        <a href="{{SERVER_URL}}/admin">Admin</a>
                    {{else}}
                        <a href="{{SERVER_URL}}/home">Home</a>
                    {{/if}}
                </li>
                {{#if loggedIn}}
                    <li class="li-header-links">
                        <a href="{{SERVER_URL}}/signout">Sign-out</a>
                    </li>
                {{else}}
                    <li class="li-header-links">
                        <a href="{{SERVER_URL}}/register">Register</a>
                    </li>
                {{/if}}
                
            </ul>
        </p>
</div>
