<div>
    {{#if loggedIn}}
        <h3> Hello {{username}} </h3>

        <p>
            {{#each allUsers}}
                <p>{{this.firstName}} {{this.lastName}} {{this.email}} </p>
                <h3>
                    User Id:
                </h3>
                    {{this._id}}
            {{/each}}
        </p>
        <p>
            <h3>
                Refresh Token:
            </h3>
            {{this.token}}
        </p>

        <script>
            $('#imageUploadForm').on('submit',(function(e) {
                e.preventDefault();
                var formData = new FormData(this);
                alert(formData);

                $.ajax({
                    type:'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    cache:false,
                    contentType: false,
                    processData: false,
                    success:function(data){
                    console.log("success");
                        console.log(data);
                    },
                    error: function(data){
                        console.log("error");
                        console.log(data);
                    }
                });

            }));

            $("#ImageBrowse").on("change", function() {
                $("#imageUploadForm").submit();
            });
        </script>


        <h3>Upload Photo</h3>
        {{!-- upload photo button --}}
        <form method="POST" action="/photos/{{this.token}}" enctype="multipart/form-data">
            <input type="file" name="document" />
            <input type="submit" />
        </form>

        <h3>Uploaded Photos:</h3>
        <div>
            {{#each userPhotos}}
                <p><img src="data:image/jpeg;base64, {{this.b64}}"></p>
            {{/each}}
        </div>
        
        
    {{else}}
        <div class="row justify-content-md-center" style="margin-top: 30px">
            <div class="col-md-4">

                {{!-- {{#if message}}
                    <div class="alert {{messageClass}}" role="alert">
                        {{message}}
                    </div>
                {{/if}} --}}
                <script>
                    function loginAjaxRequest() {
                        let username = document.getElementById("usernameInput").value;
                        let password = document.getElementById("passwordInput").value;
                        $.ajax({
                            type: "POST",
                            url: `{{SERVER_URL}}/login`,
                            dataType: 'json',
                            async: false,
                            data: '{"username": "' + username + '", "password" : "' + password + '"}'
                        });
                    }
                </script>
                <form method="POST" action="/login">
                    <div class="form-group">
                        <label for="usernameInput">email</label>
                        <input name="username" type="text" class="form-control" id="usernameInput">
                    </div>

                    <div class="form-group">
                        <label for="passwordInput">password</label>
                        <input name="password" type="password" class="form-control" id="passwordInput">
                    </div>

                    <button type="submit" class="btn btn-primary" onclick="loginAjaxRequest()">Login</button>
                </form>

            </div>
        </div>
    {{/if}}

</div>

